{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="add p-5">
      <h1>ჩვენს შესახებ</h1>
      <div>
          კეთილი იყოს თქვენი მობრძანება Lib.rar - ში, უახლესი ელექტრონული ბიბლიოთეკა, რომელიც ეძღვნება თქვენი ცოდნის ძიებას. ჩვენი პლატფორმა შექმნილია იმისთვის, რომ მოახდინოს რევოლუცია სხვადასხვა ბიბლიოთეკებში წიგნების შესწავლისა და წვდომის გზაზე.

Ჩვენი მისია
Lib.rar -ში  არის გავხადოთ წიგნების პოვნის პროცესი რაც შეიძლება მარტივი. ჩვენ გვესმის ინფორმაციის მნიშვნელობა და გვჯერა რომ დაგეხმარებით უწყვეტი გამოცდილების დაგროვებაში ცოდნის ძიებაში.
<br />
რა გამოგვარჩევს:<br/>
ბიბლიოთეკის დაკავშირება: ჩვენი პლატფორმა ურთიერთდაკავშირებულია ბიბლიოთეკების უზარმაზარ ქსელთან, რაც საშუალებას გაძლევთ რეალურ დროში შეამოწმოთ წიგნების ხელმისაწვდომობა.<br/> გაურკვევლობის დრო გავიდა - იცოდე, სანამ წახვალ!<br/>

მომხმარებლისთვის მოსახერხებელი ინტერფეისი: ჩვენ უპირატესობას ანიჭებთ სიმარტივეს და მომხმარებლის კეთილგანწყობას. ჩვენი ინტუიტიური ინტერფეისი უზრუნველყოფს მარტივ ნავიგაციას ჩვენს პლატფორმაზე. <br />

ყოვლისმომცველი მონაცემთა ბაზა: <br />
          Lib.rar ამაყობს წიგნების ვრცელი მონაცემთა ბაზით, რომელიც მოიცავს სხვადასხვა ჟანრებსა და საგნებს. კლასიკურიდან თანამედროვე გამოცემებამდე, ჩვეთან ყველაფერია.

      </div>
</div>
{% endblock %}