{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row mt-5 p-5 m-5" style="border:1px solid black; border-radius:10px;">
    <div class="col">
      <h2 class="text-center">About us</h2>
      <p>Welcome to Lib.rar, the latest electronic library that facilitates your quest for knowledge. Our platform is designed to revolutionize learning and access to books across various libraries.</p>
      <p>Our repository, available in Lib.rar, simplifies the process of finding books, making it straightforward. We value the significance of information and believe that with our assistance, acquiring knowledge becomes an effortless endeavor.</p>
      <h4>What we offer:</h4>
      <ul>
        <li><strong>Library Connectivity:</strong> Our platform is interconnected with various libraries' networks, allowing you to verify book availability in real-time. Explore before you exit!</li>
        <li><strong>User-friendly Interface:</strong> We prioritize simplicity and user-friendliness. Our intuitive interface ensures easy navigation on our platform.</li>
        <li><strong>Comprehensive Data Repository:</strong> Lib.rar houses an extensive database of book data, encompassing various genres and titles. From classics to contemporary releases, everything is here.</li>
      </ul>
      <p>Feel free to dive into the world of knowledge with Lib.rar!</p>
    </div>
  </div>
{% endblock %}