{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="add p-5">
      <h1>Add a Library</h1>
      {% if form.errors %}
            {% for field, errors in form.errors.items() %}
                  {% for error in errors %}
                        <div class="alert alert-danger">
                              {{ error }}
                        </div>
                  {% endfor %}
            {% endfor %}
      {% endif %}
      <form method="POST" enctype="multipart/form-data" autocomplete="off">
            {{form.hidden_tag()}}
            {{ form.libraryName(class = "form-control my-4", placeholder = form.libraryName.label.text ) }}
            {{ form.libraryDescription(class = "form-control my-4", placeholder = form.libraryDescription.label.text) }}
            {{ form.libraryImg(class = "form-control my-4", placeholder = form.libraryImg.label.text, accept='.jpg, .png, .jpeg' ) }}
            {{ form.libraryPrice(class = "form-control my-4", placeholder = form.libraryPrice.label.text) }}
            {{ form.libraryAddress(class = "form-control my-4", placeholder = form.libraryAddress.label.text) }}
            {{ form.libraryPhone(class = "form-control my-4", placeholder = form.libraryPhone.label.text) }}
            {% if not edit %}
            <hr/>
            {{ form.libraryAdminUsername(class = "form-control my-4", placeholder = form.libraryAdminUsername.label.text) }}
            {{ form.libraryAdminPass(class = "form-control my-4", placeholder = form.libraryAdminPass.label.text) }}
            {{ form.libraryAdminEmail(class = "form-control my-4", placeholder = form.libraryAdminEmail.label.text) }}
            {% endif %}
            {{ form.submit(class = "btn btn-danger") }}
      </form>
</div>
{% endblock %}