<nav class="navbar navbar-expand-lg bg-body-tertiary" style="height:15dvh">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Lib.rar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/searchPage">Search</a>
        <a class="nav-link" href="/about-us">About us</a>
        <a class="nav-link" href="/contact">Contact us</a>
        {% if (current_user.role == "mainAdmin") %}
          <a class="nav-link" href="/addLib">Add a Library</a>
        {% endif %}
      </div>
    </div>
    {% if current_user.is_authenticated %}
    <div class="btn-group">
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Profile
    </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">{{ current_user.username }}</a>
    <a class="dropdown-item" href="#">Details</a>
    {% if current_user.role == 'libAdmin' %}
    <a class="dropdown-item" href="/MyLibrary">My Library</a>
    {% endif %}
    <a class="dropdown-item" href="/log_out">Log out</a>
  </div>
      {% else %}
      <div class="nav_methods">
        <a class="btn btn-success" href="/login">Sign In</a>
        <a class="btn " href="/register">Sign Up</a>
      </div>
</div>
    {% endif %}

  </div>
</nav>