{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="lib_single" style="display: flex; flex-direction:column; justify-content: space-around;">
    <div style="width:100dvw; display:flex; justify-content: space-around;">
    <div class="left" style="width: 40dvw;">
            <div class="img_wrapper" style="width: 100%;">
                <img src="{{url_for('static', filename=library.libImg)}}" style="width: 100%;" />
            </div>
        </div>
        <div class="right card" style="width: 40dvw; display: flex; align-items: center; justify-content:center">
            <div style="width: 80%; display: flex; flex-direction: column; justify-content: space-between;">
                <p style="font-size: larger; font-weight: bolder; color: yellowgreen;">ბიბლიოთეკა:</p>
                <h3>{{library.libName}}</h3>
                <p style="font-size: larger; font-weight: bolder; color: yellowgreen;">:საიდენტიფიკაციო კოდი:</p>
                <h3>{{library.LibID }}</h3>
                <p style="font-size: larger; font-weight: bolder; color: yellowgreen;">მისამართი: </p>
                <h3>{{library.libAddress}}</h3>
                <p style="font-size: larger; font-weight: bolder; color: yellowgreen;">ტელეფონი: </p>
                <h3>{{library.libPhone}}</h3>
                <p style="font-size: larger; font-weight: bolder; color: yellowgreen;">აბონიმენტის საფასური</p>
                <h3>{{library.libPrice}} / თვე</h3>
                {% if current_user.role == 'libAdmin' and admin %}
                    <a class="btn btn-danger" href="/edit_library/{{ library.LibID }}">შეცვლა</a>
                {% endif %}

            </div>
        </div>
        </div>
        <div class="books" style="display:flex; flex-direction:column; align-items:center">
            <h3 class="m-4">წიგნები</h3>
            {% if current_user.role == 'libAdmin' and admin %}
                    <a class="btn btn-danger" href="/addBook/{{ library.LibID }}">დამატება</a>
            {% endif %}
            <div style="width:80%; display:flex; flex-wrap:wrap; justify-content:space-between">
                {%for book in library.libBooks%}
                    <div class="card" style="width: 18rem;">
                      <img src="{{url_for('static', filename=book.bookImg)}}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">{{book.bookName}}</h5>
                        <p class="card-text">{{ book.bookDescription }}</p>
                      </div>
                        {% if current_user.role == 'libAdmin' and admin %}
                        <div class="card-body">
                            <a href="/delete_book/{{ book.library_id }}/{{ book.BookID }}" class="card-link">წაშლა</a>
                        </div>
                        {% endif %}
                    </div>
                {%endfor%}
            </div>
        </div>
</div>
{%endblock%}