{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="main">

        <div class="main_hero" style="background-image: url({{ url_for('static', filename='library.webp')}})">
            <button class="btn btn-warning hero_btn" onclick="scrollToSection('section2')">იხილეთ მეტი></button>
        </div>

        <!-- Featured Products -->
        <h2 class="m-4 p-3" style="border-left: 10px solid yellow;">ბიბლიოთეკები</h2>
        <div class="row" id="section2" style="display:flex; justify-content: space-evenly; flex-wrap: wrap;">
            {% for library in libraries %}
            <div class="col-lg-3 col-md-4 col-sm-6 product-card" style="height:fit-content">
                <div class="card">
                    <img class="card-img-top product-image"
                        src='{{url_for("static", filename=library.libImg)}}' alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">{{library.libName}}</h5>
                        <p class="card-text">{{library.libDescription}}</p>
                        <a class="btn btn-primary" href="library/{{ library.LibID }}">ნახვა</a>
                        {% if current_user.role == 'mainAdmin' %}
                        <a class="btn btn-primary" href="delete_library/{{ library.LibID }}">წაშლა</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <script>
            function scrollToSection(sectionId) {
                const section = document.getElementById(sectionId);
                if (section) {
                    section.scrollIntoView({ behavior: 'smooth' });
                }
            }
        </script>
    </div>

{% endblock %}
