{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="search_div w-100">
        <h1>Search</h1>
        <hr />
        <div class="search_blocks">
        <a href="/search/libraries">
            <div class="searchblock">
                <h2>Libraries</h2>
                <i class="fa-regular fa-bookmark"></i>
            </div>
        </a>
        <a href="/search/books">
            <div class="searchblock">
                <h2>Books</h2>
               <i class="fa-solid fa-book"></i>
            </div>
        </a>
    </div>
    </div>

{% endblock %}
