{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <form method="POST" style="display:flex; flex-direction:column; padding:50px;">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="mt-5 subb">
            {{ form.submit }}
        </div>
    </form>
    {%if userErr == True%}
        <div style="width:80%; margin:auto" class="mt-5 alert alert-danger text-center">No such user</div>
    {%endif%}
    {%if checkPass == True%}
        <div style="width:80%; margin:auto" class="mt-5 alert alert-danger text-center">Password is incorrect</div>
    {%endif%}
{% endblock %}